<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="../JS/script.js"></script>
</head>

<body class="prod_body">
    <header class="header_special">
        <div class="container">
            <a href="main.html">
                <img src="../imgs/house.svg" alt="back-button" class="back-button">
            </a>
        </div>
    </header>
    <main>
        <div class="for_flex">
        <div class="product-container">
            <div class="gallery">
              <div class="gallery-images">
                <img src="../imgs/dzhiraya_hood.jpeg" alt="Худи Джирайя">
                <img src="../imgs/itachi_hood.webp" alt="Худи Итачи">
              </div>
              <button class="gallery-arrow left" onclick="prevImage()">❮</button>
              <button class="gallery-arrow right" onclick="nextImage()">❯</button>
            </div>
            <div class="product-details">
              <h1 class="product-title">Худи - Наруто</h1>
              <p class="product-subtitle">Unisex, Oversize, Cotton 95%</p>
              
              <div class="product-sizes">
                <span>S</span>
                <span>M</span>
                <span>L</span>
                <span>XL</span>
                <span>XXL</span>
              </div>
                <div class = "info-abt-product">
                    <h2>
                        Характеристики
                    </h2>
                    <table class="product-info-table">
                        <tr>
                            <td class="left">Название бренда</td>
                            <td class="dots"></td>
                            <td class="right">BiggOrange</td>
                        </tr>
                        <tr>
                            <td class="left">Происхождение</td>
                            <td class="dots"></td>
                            <td class="right">Китай</td>
                        </tr>
                        <tr>
                            <td class="left">Тип</td>
                            <td class="dots"></td>
                            <td class="right">Свободный</td>
                        </tr>
                        <tr>
                            <td class="left">Материал</td>
                            <td class="dots"></td>
                            <td class="right">Полиэстер</td>
                        </tr>
                        <tr>
                            <td class="left">Пол</td>
                            <td class="dots"></td>
                            <td class="right">Мужчины</td>
                        </tr>
                        <tr>
                            <td class="left">Стиль</td>
                            <td class="dots"></td>
                            <td class="right">На каждый день</td>
                        </tr>
                        <tr>
                            <td class="left">Тип товара</td>
                            <td class="dots"></td>
                            <td class="right">Толстовки</td>
                        </tr>
                        <tr>
                            <td class="left">Длина рукава</td>
                            <td class="dots"></td>
                            <td class="right">Полный</td>
                        </tr>
                    </table>     
                </div>
              <div class="price-card">
                <div class="current-price">8 924.98 ₸</div>
                <div class="old-price"><s>14 874.96 ₸</s></div>
                <div class="price-note">Цена за 1 штуку</div>
                <div class="buttons">
                    <button class="cart-button">В корзину</button>
                    <button class="buy-button">Купить сейчас</button>
                </div>
             </div>
            </div>
        </div>
        </div>
    </main>
</body>
</html>
