<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Описание</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body class="prod_body">

    <main class="prod_info">
        <div class="head">
            <a href="./main.html" class="back_btn"><-- назад</a>
            <button class="back_btn">X</button>
        </div>

        <div class="prod_container">
            <div class="prod_desc">
                <img src="../imgs/obito.jpg" alt="">
                <div class="description">
                    <div class="desc">
                        <div class="base_info">
                            <h3 class="name">Фигурка Учихм Мадары - Наруто</h3>
                            <span class="article">Артикул : 112241212</span>
                        </div>

                        <div class="info">
                            <span class="price">Цена: 10 000 ₸</span>
                            <span class="height">Высота: 15см</span>
                            <span class="weight">Вес: 600гр</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../JS/script.js"></script>
</body>
</html>
